x-patroni-common:
  &patroni-common
  build: .
  restart: unless-stopped
  networks:
    - project
  env_file:
      - .env
  environment:
    &patroni-common-env
    PATRONI_RESTAPI_LISTEN: "0.0.0.0:8008"
    PATRONI_POSTGRESQL_LISTEN: "0.0.0.0:5432"
    PATRONI_POSTGRESQL_DATA_DIR: "/var/lib/postgresql/data"
    PATRONI_REPLICATION_USERNAME: ${PATRONI_REPLICATION_USERNAME}
    PATRONI_REPLICATION_PASSWORD: ${PATRONI_REPLICATION_PASSWORD}
    PATRONI_SUPERUSER_USERNAME: ${PATRONI_SUPERUSER_USERNAME}
    PATRONI_SUPERUSER_PASSWORD: ${PATRONI_SUPERUSER_PASSWORD}
    PATRONI_admin_PASSWORD: ${PATRONI_admin_PASSWORD}
    PATRONI_SCOPE: "postgres-cluster"
    PATRONI_ETCD3_HOSTS: "etcd1:2379,etcd2:2379,etcd3:2379"
    
  logging:
    driver: "json-file"
    options:
      max-size: "5m"
      max-file: "5"

x-etcd-common:
  &etcd-common
  image: quay.io/coreos/etcd:v3.6.0
  restart: unless-stopped
  environment:
    &etcd-common-env
    ALLOW_NONE_AUTHENTICATION: "yes"
    ETCD_LISTEN_PEER_URLS: "http://0.0.0.0:2380"
    ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
    ETCD_INITIAL_CLUSTER: "etcd1=http://etcd1:2380,etcd2=http://etcd2:2380,etcd3=http://etcd3:2380"
    ETCD_INITIAL_CLUSTER_STATE: "new"
    ETCD_INITIAL_CLUSTER_TOKEN: "etcd-cluster"
    ETCD_HEARTBEAT_INTERVAL: "500"
    ETCD_ELECTION_TIMEOUT: "5000"
  networks:
    - project
  logging:
    driver: "json-file"
    options:
      max-size: "5m"
      max-file: "5"

services:
  patroni1:
    <<: *patroni-common
    hostname: patroni1
    container_name: patroni1
    environment:
      <<: *patroni-common-env
      PATRONI_NAME: "patroni1"
      PATRONI_RESTAPI_CONNECT_ADDRESS: "patroni1:8008"
      PATRONI_POSTGRESQL_CONNECT_ADDRESS: "patroni1:5432"
    volumes:
      - ./patroni.yml:/etc/patroni.yml:ro
      - ./scripts/notify.sh:/scripts/patroni-notify.sh
      - patroni1-data:/var/lib/postgresql/data
    command: patroni /etc/patroni.yml

  patroni2:
    <<: *patroni-common
    hostname: patroni2
    container_name: patroni2
    environment:
      <<: *patroni-common-env
      PATRONI_NAME: "patroni2"
      PATRONI_RESTAPI_CONNECT_ADDRESS: "patroni2:8008"
      PATRONI_POSTGRESQL_CONNECT_ADDRESS: "patroni2:5432"
    volumes:
      - ./patroni.yml:/etc/patroni.yml:ro
      - ./scripts/notify.sh:/scripts/patroni-notify.sh
      - patroni2-data:/var/lib/postgresql/data
    command: patroni /etc/patroni.yml

  patroni3:
    <<: *patroni-common
    hostname: patroni3
    container_name: patroni3
    environment:
      <<: *patroni-common-env
      PATRONI_NAME: "patroni3"
      PATRONI_RESTAPI_CONNECT_ADDRESS: "patroni3:8008"
      PATRONI_POSTGRESQL_CONNECT_ADDRESS: "patroni3:5432"
    volumes:
      - ./patroni.yml:/etc/patroni.yml:ro
      - ./scripts/notify.sh:/scripts/patroni-notify.sh
      - patroni3-data:/var/lib/postgresql/data
    command: patroni /etc/patroni.yml

  etcd1:
    <<: *etcd-common
    container_name: etcd1
    environment:
      <<: *etcd-common-env
      ETCD_NAME: "etcd1"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd1:2379"
      ETCD_INITIAL_ADVERTISE_PEER_URLS: "http://etcd1:2380"
    volumes:
      - etcd1-data:/bitnami/etcd

  etcd2:
    <<: *etcd-common
    container_name: etcd2
    environment:
      <<: *etcd-common-env
      ETCD_NAME: "etcd2"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd2:2379"
      ETCD_INITIAL_ADVERTISE_PEER_URLS: "http://etcd2:2380"
    volumes:
      - etcd2-data:/bitnami/etcd

  etcd3:
    <<: *etcd-common
    container_name: etcd3
    environment:
      <<: *etcd-common-env
      ETCD_NAME: "etcd3"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd3:2379"
      ETCD_INITIAL_ADVERTISE_PEER_URLS: "http://etcd3:2380"
    volumes:
      - etcd3-data:/bitnami/etcd

  haproxy:
    image: haproxy:latest
    container_name: haproxy
    restart: unless-stopped
    ports:
      - "5432:5432"    # PostgreSQL
      - "8008:8008"    # Patroni REST API
      - "8404:8404"    # Stats
      - "5433:5433"    # Read
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    env_file:
      - .env
    environment:
      NTFY_TOPIC: ${NTFY_TOPIC}
      NTFY_URL: ${NTFY_URL}
    networks:
      - project
    depends_on:
      - patroni1
      - patroni2
      - patroni3
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "5"

volumes:
  patroni1-data:
  patroni2-data:
  patroni3-data:
  etcd1-data:
  etcd2-data:
  etcd3-data:

networks:
  project:
    driver: bridge
